        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            /* Set a light background color */
            overflow: hidden;
            /* Hide overflow content */
            perspective: 1000px;
            /* Set the perspective for 3D effect */
            position: relative;
            /* Ensure relative positioning */
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            background: linear-gradient(45deg, #e0e0e0, #ffffff);
            /* Set gradient colors */
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
            /* Add box shadow for depth */
            transform: rotateX(-30deg) rotateY(30deg);
            /* Apply 3D rotation */
            animation: animateBackground 20s infinite linear;
            /* Animation for continuous rotation */
            z-index: -1;
            /* Place the background behind other content */
        }

        @keyframes animateBackground {
            0% {
                transform: rotateX(-30deg) rotateY(30deg);
            }

            50% {
                transform: rotateX(330deg) rotateY(390deg);
            }
        }

        .calendar-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -20px;
            /* Adjust the value to move it up or down */
        }

        table {
            margin: 0 auto;
            border: 0px;
        }

        th {
            border-color: black;
            border-width: 1px;
            cursor: pointer;
            background-color: lightblue;
            border-radius: 8px;
            width: 70px;
            height: 30px;
            font-size: 30px;
            margin: 0 auto;
        }

        th:hover {
            background-color: rgb(150,200,230);
        }

        td {
            margin: 0 auto;
            cursor: pointer;
            text-align: center;
            height: 30px;
            font-size: 16px;
            border-radius: 25px;
            border-width: 1px;
        }

        td:hover {
            background-color: orange;
        }
